# --- Python ---
.venv/
venv/
ENV/
env/
bin/
lib/
include/
build/
dist/
*.egg-info/
__pycache__/
*.py[cod]
*$py.class

# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# --- VS Code ---
.vscode/
*.code-workspace

# --- Environment / Secrets ---
.env
.venv
*.log